.messenger {
  height: calc(100vh-70px);
  display: flex;
}
.chat-menu {
  flex: 3.5;
}
.chat-menu-input {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}
.chat-box {
  flex: 5.5;
}
.chat-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.chat-box-top {
  height: 70vh;
  overflow-y: scroll;
  padding-right: 10px;
}
.chat-box-bottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-messege-input {
  width: 80%;
  height: 40%;
  padding: 10px;
}
.chat-submit-button {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}
.chat-online {
  flex: 3;
}
.chat-menu-wrapper,
.chat-box-wrapper,
.chat-online-wrapper {
  padding: 10px;
  height: 100%;
}
.no-conversation {
  position: absolute;
  top: 30%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}
